<section class="about" id="about"  >
    <div class="max-width container">
      <h2 class="title">About Me</h2>
      <div class="about-content">
        <div class="column left">
            <img src="assets/img/komit.JPG" alt="">
        </div>
  
    
  
      <div class="column right">
        
        <div class="shadow p-3 mb-5 bg-white rounded  text">
         
              Hey, I am Komit  and I'm a <span>Software Developer.</span> 
         
              <p>I describe Myself as a passionate Developer who <br>
                loves <span>Coding,Opensource & Web platform</span></p>
           
         </div>
  
        
      
         <table >
          <tr>
            <td> Degree: <span>Bachelor Of Engineering</span></td> &nbsp; &nbsp; &nbsp;  
          </tr>
               <tr>
                 <td> Birthdate: <span>12th July 1997</span></td> &nbsp; &nbsp; &nbsp;  
               </tr>
                <tr>
                  <td> Age:  <span>24 Years</span> </td>
                 </tr>
                
                 <tr>
                  <td> Email:  <span>komit.bagate8@gmail.com</span></td>
                 </tr>
                 <tr>
                  <td> Contact No:  <span>+91 9167150196</span></td>
                 </tr>
                      
                 <tr>
                  <td> Location:  <span>Dombivli, Thane</span></td>
                 </tr>
                 
  
                 
  
  
         </table>
  
        
      </div>
  
      </div>
  </div>
  
  </section>