<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" routerLink="home"><h1>Portfo<span>lio</span></h1></a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="navbar-collapse collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link js-scroll" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll" routerLink="skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll" routerLink="contact">Contact</a>
      </li>
    </ul>
   </div>
</nav>

<router-outlet> </router-outlet>

















